@media only screen and (max-width: 900px) {
    
    .menu-layout .menu-item:nth-child(1),
    .menu-layout .menu-item:nth-child(2),
    .menu-layout .menu-item:nth-child(3),
    .menu-layout .menu-item:nth-child(4),
    .menu-layout .menu-item:nth-child(5) {
        display: none;
    }

    .second-menu {
        padding: 150px 90px 50px 90px;
    }

    
    
      .menu-open {
        display: none;
      }
    
      .menu-open-button {
        background-color: #eeeeee;
        position: absolute;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        transition: transform ease-out 200ms;
      }
    
      .lines {
        background-color: #fff;
        display: block;
        width: 25px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12.5px;
        margin-top: -1.5px;
        transition: transform 200ms;
      }
    
      .line-1 {
        transform: translate3d(0, -8px, 0);
      }
    
      .line-3 {
        transform: translate3d(0, 8px, 0);
      }
    
      .menu-open:checked + .menu-open-button {
        transition-timing-function: linear;
        transition-duration: 200ms;
        transform: scale(0.8, 0.8) translate3d(0, 0, 0);
      }
    
      .menu-open:checked + .menu-open-button .line-1 {
        transform: translate3d(0, 0, 0) rotate(-45deg);
      }
    
      .menu-open:checked + .menu-open-button .line-2 {
        transform: translate3d(0, 0, 0.5px) scale(0, 1);
      }
    
      .menu-open:checked + .menu-open-button .line-3 {
        transform: translate3d(0, 0, 0) rotate(45deg);
      }

      .content-right {
          display: none;
      }
      .team-box {
          flex-direction: column;
      }
}

/* PC width >= 1200px */ 
@media only screen and (max-width: 1200px) {
    .container {
        max-width: 90%;
    }

    .btn-started {
        padding: 12px 60px !important;
    }

    .content-txt span {
        font-size: 48px;
    }

    .content-txt p {
        font-size: 20px;
    }

    .content .box .content-right {
        width: 50%;
    }

    .content .box .content-right img {
        width: 90%;
    }

    /* Analyst */

    .analysis-box {
        flex-direction: column;
    }

    .analysis-box .analysis-left {
        width: 100%;
        margin: 0 ;
        display: block;
        padding-bottom: 60px;
    }

    .analysis-layout li  span {
        color: #393e46;
    }

    /* Multiple */

    .multiple-box {
        flex-direction: column;
    }

    .multiple-right .multiple-txt {
        padding: 0 ;
        padding-top: 60px;
    }

    #review {
        padding-bottom: 120px;
    }

    .review-box {
        flex-direction: column;
    }

    .review-left {
        padding-bottom: 60px;
    }
    .review-left .review-txt {
        margin: 0;
    }

    .review-box .review-img {
        margin: 0;
    }

    .review-box .review-img img {
        width: 100%;
    }

    .customer-box {
        flex-direction: column;
    }

    .customer-box .customer-slider {
        height: 303px;
        display: block;
        margin-bottom: 60px;
    }

    .team-right {
        margin-left: 0px;
    }

/* Tablet width>728px and width<1024px  */
@media only screen and (max-width: 1024px) {

    /* Content */
    .content .box .content-left {
        width: 50%;
    }

    .content .box .content-left .content-txt {
        
    }

    
}

/* Mobile width < 728px */
@media only screen and (max-width: 728px) {

    h2 {
        font-size: 2em !important;
    }

    .second-menu {
        padding: 150px 48px 50px 48px;
    }

    .second-menu-item a {
        font-size: 24px;
    }

    #content {
        height: 609px;
        margin-bottom: 50px;
    }

    #content .bg-content {
        height: 609px;
        width: 1024px;
        left: -200px !important;
    }
    .content-txt {
        width: 250px;
        margin: 0px;
    }

    .content-txt span {
        font-size: 31px;
    }

    .box {
        top: 170px;
    }

    .content-txt p {
        font-size: 18px;
        width: 280px;
        padding: 25px 0;

    }

    .btn-started {
        font-size: 18px;
        padding: 7px 40px;
    }

    .analysis-layout {
        flex-direction: column;
    }

    .multiple-img  img {
        width: 100%;
    }

    .btn {
        padding: 15px 50px !important;
    }

    .customer-slider .customer-txt {
        font-size: 18px;
        line-height: 34px;
    }

    .customer-box .customer-slider {
        height: 385px;
    }

    .customer-img img {
        width: 100%;
    }

    .customer-img {
        width: auto;
        padding: 0;
    }

    .team-img {
        flex-direction: column;
    }

    .colummn-inner img {
        width: 100%;
    }

    .partners-img img {
        width: 100%;
    }

    .widget-box {
        flex-direction: column;
    }

    .widget-2 {
        padding-top: 40px;
        text-align: left;
        padding-left: 0;
    }
}


