@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100px, 0);
      transform: translate3d(0, 100px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }


.i-item {
    opacity: 0;
}

.i-item.show-item {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.fadeinup.show-item {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}